@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

html {
  font-family: 'Noto Sans';
  padding: 0% 10%;
}

section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}